@media only screen and (max-width: 665px) {
  h1 {
    font-size: 15vw;
    float:left;
    /* color: rgb(2, 246, 250) */

  }

  a.ion-logo-linkedin.icons,
  a.ion-logo-github.iconsgit,
  a.fas.fa-file-pdf.pdf {
    font-size: 8vw;
    /* color: rgb(250, 2, 2); */
  }
}

@media only screen and (max-height: 300px) {
  h1 {
    font-size: 30vh;
    /* border:0; */
    display: inline-block;
    float: left;

    /* color: rgb(250, 2, 2) */

  }


  a.ion-logo-linkedin.icons,
  a.ion-logo-github.iconsgit,
  a.fas.fa-file-pdf.pdf {
    font-size: 30vh;
    display: inline-block;
    float: right;
    margin-top: 5px;
    vertical-align: middle;

    /* color: rgb(10, 2, 250) */
  }

}

/* 
window.addEventListener('resize', function(event){
  console.log(window.innerWidth);
});
 */