html {
  background-color: #2f4858;
  color: #555;
  font-family: 'open sans condensed','Lato', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
h1{
  margin-top: 0;
  margin-bottom: 0;
  color: #e67e22;
  /* #065143 */
}
.title-page {
  /* margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
  /* text-align: center; */
  margin-bottom: 0;
  position: absolute;
  width: 90%;
  top:50%;
  left: 50%;
  /* font-size: 5vw; */
  font-size:  50px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* overflow hidden caused View page to partially disappear.  */
  overflow: hidden;
}

/* ########################## */
/* Links */
/* ########################## */

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ########################## */
/* Buttons */
/* ########################## */

.btn-att:link,
.btn-att:visited {
  border: 10px solid #e67e22;
  text-decoration: none;
  font-weight: 300;
  border-radius: 200px;
  padding: 10px 30px;

}

.btn-att:hover,
.btn-att:visited {}

/* ########################## */
/* icons */
/* ########################## */
.icons:link{
  /* height:10%; */
}

.icons:link {
  text-decoration: none;
  border-bottom: 0px solid transparent;
  /* margin-top: 100px; */
  font-size: 100%;

  /* display: inline-block; */
  /* float: right; */
  
  /* height: 100vh; */
  /* font-size:10vw; */
}
.pdf:link{

  text-decoration: none;
  border-bottom: 0px solid transparent;
  /* font-size: 85px; */
font-size: 90%;
}
.iconsgit:link {
  text-decoration: none;
  border-bottom: 0px solid transparent;
  /* font-size: 100px; */
  font-size: 100%;

  /* padding-bottom:10px; */
  /* top: -10px; */
}
/* ########################## */
/* Header */
/* ########################## */

/* sechead applies the same look to all section titles */
.secHead {}

.header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(resources/img/galaxy1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/galaxy1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* height: 100%; */
  /* width: 100%; */
}

/* ########################## */
/* Footer */
/* ########################## */
.this-is-me {}

/* ########################## */
/* NAVIGATION */
/* ########################## */
.main-nav {
  float: right;
}

.main-nav li {
  /* beloew sits each next to each other  */
  border-color: 1px solid aqua;
  display: inline-block;
  list-style: none;
  margin-right: 20px;

}

/* ########################## */
/* Project Images */
/* ########################## */
.completed {}

.completed-list {
  list-style: none;
  width: 100%;
}

.completed-list li {
  display: block;
  float: left;
  /* border-radius: 200px; */
  /* text-decoration: none; */
  /* text-decoration:"\f26e"; */
  /* content:""; */
  /* text-align: center; */
  /* align-content: center; */
}

.completed-list li:before {
  /* content:""; */

}